html {
  font-family: monospace;
}

html[lang='zh'] {
  font-family: 'Noto Sans SC', 'Noto Sans', sans-serif, monospace;
}

html[lang='ja'] {
  font-family: 'Noto Sans JP', 'Noto Sans', sans-serif, monospace;
}

body {
  font-weight: 500;
}

.title-container {
    display: flex;
    justify-content: center;
}
    
.title {
    display: block;
    font-weight: bold;
    background: linear-gradient(90deg, #4029c0, #D7003A);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    white-space: nowrap;
}

/* MOBILE */
@media screen and (orientation: portrait) {
    .title {
        width: 90vw;
        font-size: clamp(2.5rem, 8vw, 5rem); /* 调小字体范围 */
    }
    .container {
        width: 90vw;
        max-width: 600px;
        min-width: 280px;
        margin: 5vh auto;
        font-size: clamp(1rem, 2.5vw, 2rem); /* 整体缩小 */
    }
    .paimon{
        opacity: 0.4;
        right: 0;
    }
}

/* DESKTOP */
@media screen and (orientation: landscape) {
    .title {
        width: 60vw;
        font-size: clamp(3rem, 7vw, 6rem); /* 降低字体大小 */
    }
    .container {
        width: 60vw;
        max-width: 800px;
        margin: 5vh 10vw auto;
        font-size: clamp(0.8rem, 2vw, 1.5rem); /* 进一步缩小 */
    }
    .paimon{
        opacity: 0.8;
        right: 10vw;
    }
}

.paimon {
    position: fixed;
    bottom: 0;
    width: auto;
    height: 70vh;
    object-fit: contain;
    z-index: -1;
    pointer-events: none;
}

.comment {
    color: gray;
}

.link {
    color: skyblue;
    text-decoration: none;
}

@media (max-width: 530px) {
    #wechat-qrcode {
        width: 60vw;
    }
}